    .sceleton {
        width: 200px;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
    }
   
   .card-header{
    height: 100px;
   }
   
   .card-header img{
    object-fit: cover;
    height: 100%;
    width: 100%;
   }
   
   .card-content {
    background-color: #a1a1a136;
    padding: 10px 30px 30px 10px;
   }
   
   .card-title{
    height: 40px;
    margin: 0;
    font-size: 20px;
    transform: translateX(-10px);
   }
   
   .card-excerpt{
    color: #808ebb;
    margin: 10px 0 20px;
   }

   .animated-bg{
    background-image: linear-gradient(
     to right,
     #f6f7f8 0%,
     #edeef1 10%,
     #f6f7f8 20%,
     #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: bgPos 01s linear infinite;
   }
   
   .animated-bg-text{
    border-radius: 50px;
    display: inline-block;
    margin: 0;
    height: 10px;
    width: 100%;
   }
   
   @keyframes bgPos {
    0% {
     background-position: 50% 0;
    }
    100%{
     background-position: -150% 0;
    }
   }
   